*{
    --main-color : #202632;
    --secondary-color:#54feac;
    color: #fff;
}

body{
    background-color: var(--main-color);
    margin:0 auto;
}
#content{
    width:40%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: #313a49;
    padding: 10px;
    border-radius: 5px;
   
}
#content h3, span {
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}

#content p {
    color: var(--secondary-color);


}

button{
    color: #000;
    border-radius: 3px;
    border: 0px;
    padding: 4px;
    background-color: var(--secondary-color);
}
button:hover{
    background-color: #000;
    color: var(--secondary-color);
}